main .contents {
    display: flex;
    justify-content: center;
    padding-top: 5em;
    padding-left: 10em;
}

main .contents img {
    height: 600px;
    align-self: flex-end;
}

article, img {
    justify-content: center;
    align-items: flex-end;
}

article {
    background-color: white;
    margin-left: 5em;
    margin-right: 5em;
    padding: 2em;
    width: 700px;
    height: 1100px;
    border-radius: .5em;
}

h2 {
    font-size: 2em;
}

h2, p {
    line-height: 2em;
}
