#main-title {
    display: flex;
    padding-top: 20em;
    padding-left: 40em;
    padding-right: 40em;
}

h2 {
    color: white;
    font-weight: bold;
    font-size: 2.5em;
}

#main-image {
    padding-top: -70em;
    padding-left: 70em;
}

#main-title img {
    width: 40%;
    align-self: flex-end;
}