main {
    position: relative;
    width: 100vw;
    height: calc(100vh - 4em);
    background: url(../images/wave.svg) no-repeat 0 50%;
    background-color: rgb(16, 117, 98);
    background-size: cover;
}
