main .contents {
    display: flex;
    justify-content: center;
    padding-top: 5em;
    padding-left: 10em;
}

article {
    position: absolute;
    top: 20%;
    left: 33%;
    background-color: white;
    margin-left: 5em;
    margin-right: 5em;
    padding: 2em 5em;
    min-width: 400px;
    height: 70%;
    border-radius: .5em;
    z-index: 10;
}

h2 {
    font-size: 2em;
}

h2, p {
    line-height: 2em;
}

article p {
    font-size: 1.2em;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    margin-bottom: 1em;
    height: 2.5em;
    border-radius: 0.3em;
    border-right-color: rgb(225, 225, 225);
    border-left-color: rgb(225, 225, 225);
    border-top-color: rgb(225, 225, 225);
    border-bottom-color: rgb(225, 225, 225);
    border-width: thin;
}

form button {
    border: none;
    height: 2.4em;
    font-size: 1em;
    color: white;
    border-radius: .3em;
    background-color: rgb(16,117,98);
}

form button:hover {
    background-color: rgb(225, 225, 225);
}

form button:active {
    color: black;
}

main .contents .man {
    position: absolute;
    top: 40%;
    right:65%;
    height: 50%;
    z-index: 1;
}

main .contents .woman {
    position: absolute;
    top: 40%;
    left: 70%;
    height: 50%;
    z-index: 1;
}
